@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-RegularItalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-SemiboldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "EuclidCircular";
    src: url("../webfonts/EuclidCircularA-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}